body {
    width: 75%;
    margin: auto;
}

button {
    margin: 1ex;
}

select {
    margin: 1ex;
}

#trace {
    display: none;
}

#message {
    margin: 2em;
}

#learnt {
    margin: 2em;
}

#output {
    margin: 2em;
}

form {
    width: 100%;
    padding: 0;
    margin: 0;
}

textarea, input {
    vertical-align: top;
}